/.gradle/
/.idea/
/buildSrc/.gradle/
/buildSrc/build/
/indra-*/build/
/indra-*/out/
/build/
/*.iml
/*/.factorypath
/*/.apt_generated/
/*/.apt_generated_tests/
/*/.checkstyle
/*/.classpath
/*/.project
/*/.settings/
/*/bin/
/.project
/.settings/
